
// Sinlgs activity
.activity {
  &.my-activity {
    &.activity-permalink {
      // margin-top: 300px;
    }
  }
}

// Members listing

.elementor-widget-bpb-members-directory-list {
  .members {
    &.dir-list {
      display: block;
    }
  }
}

.elementor-widget-bpb-groups-directory-list {
  .groups {
    &.dir-list {
      display: block;
    }
  }
}

// Bp Cover
#buddypress .elementor-widget-bpb-profile-member-cover,
#buddypress .elementor-widget-bpb-profile-group-cover {
  &.elementor-element.elementor-absolute {
    z-index: 0;
    height: 100%;
  }
  .elementor-widget-container {
    height: 100%;
  }
  #header-cover-image {
    height: 100%;
  }
}

.elementor-widget-bpb-profile-group-cover,
.elementor-widget-bpb-profile-member-cover {
  .cover-bg-overlay {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
}

.elementor-widget-bpb-members-directory-item-cover-image,
.elementor-widget-bpb-groups-directory-item-cover-image {

  .svq-cover-image-wrap {
    font-size: 0; // Need this for extra space issue
  }
  .svq-cover-img-el {
    overflow: hidden;
    position: relative;
    &:before {
      content: "";
      display: block;
    }
  }
  .svq-cover-img-overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  div.svq-cover-image {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
  img.svq-cover-image {}

  .svq-cover-img-overlay {}
}

// Filters
.elementor-widget-bpb-groups-directory-filters,
.elementor-widget-bpb-members-directory-filters,
.elementor-widget-bpb-profile-group-content,
.elementor-widget-bpb-profile-group-content {
  .select-wrap {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    &:hover {
      box-shadow: none;
    }
  }
  #group_invites_search_form,
  #group-activity-search-form,
  #group-members-search-form,
  #dir-groups-search-form,
  #dir-members-search-form {
    display: flex;
    // align-items: stretch;
    justify-content: space-between;
    height: 100%;
    overflow: hidden;
    &:hover {
      box-shadow: none;
    }
  }
  #group_invites_search,
  #group-activity-search,
  #group-members-search,
  #dir-groups-search,
  #dir-members-search {
    width: 100%;
  }
  #group_invites_search_submit,
  #group-activity-search-submit,
  #group-members-search-submit,
  #dir-groups-search-submit,
  #dir-members-search-submit {
    width: auto;
    line-height: 1;
    padding: 6px 10px;
    span {
      line-height: 1;
    }
  }
}

// Filter structure
// Site wide filters
.elementor-widget-bpb-sitewide-filters {
  .subnav-filters {
    > div:last-child {
      margin-left: auto;
    }
  }
}
.elementor-widget-bpb-sitewide-item-meta {
  .avatar {
    vertical-align: middle; // text-top;
  }
}

// Group directory filters
.elementor-widget-bpb-groups-directory-filters {
  .subnav-filters {
    .subnav-search {
    }

    .component-filters {
    }
  }
}

// Group profile filters
.elementor-widget-bpb-profile-group-content {

  .subnav-filters {
    > div:last-child {
      margin-left: auto;
    }
  }

  .group-invites-search {
    margin: 0;
  }

  // Activity
  .subnav-filters {
    ul {
      .feed {
      }

      .group-act-search {
      }
    }

    .component-filters {
    }
  }

  // Members
  .subnav-filters {
    .group-search-search {
    }

    .component-filters {
    }
  }

  // Manage
  ul.subnav-filters {
    li.filter {
      display: inline-flex;
      align-items: center;
      label {
        #buddypress & {
          margin: 0 10px 0 0;
        }
        font-weight: normal;
      }
    }
    li.left-menu {}
    li.bp-search {
      margin-left: auto;
    }
  }
}

// Group profile manage
.bp-avatar-nav .avatar-nav-items li.avatar-nav-item {
  border: 1px solid transparent;
  margin-bottom: -1px;
  &.current {}
}

// Member profile filters
.elementor-widget-bpb-profile-member-content {

  .subnav-filters {
    > div:last-child {
      margin-left: auto;
    }
  }

  // Activity
  .subnav-filters {
    .subnav-search {
    }

    .component-filters {
      .my-friends & {
        // margin-left: auto;
      }
      // margin-left: auto;
    }
  }

  // Messages
  .subnav-filters {
    ul {
      li.user-messages-search {
        order: 100;
        margin-left: auto;
      }

      li.user-messages-bulk-actions {
        > div {
          display: inline-flex;
          align-items: center;
        }
      }

      li.last {
      }
    }
  }
}

// Members directory filters
.elementor-widget-bpb-members-directory-filters {
  .subnav-filters {
    .component-filters {
    }
  }
}

// Groups listing
.elementor-widget-bpb-groups-directory-item-last-activity,
.elementor-widget-bpb-groups-directory-item-meta,
.elementor-widget-bpb-groups-directory-item-description {
  p {
    margin: 0;
  }
}

// Sitewide activity preview template
.svq-activity-list-preview {
  &.activity-list {
    .activity-item {
      border: none;
      border-radius: 0;
      padding: 0;
      margin: 0;
    }
  }
  &.item-list {}
  &.bp-list {}
}

// Memebers directory listing
#members-list > li > .list-wrap {
  .elementor-element-populated {
    padding: 0;
  }
}

.grid.members-list .list-wrap {}
.elementor-column-gap-default > .elementor-row > .elementor-column > .elementor-element-populated {}


// Info messages

// Profile
.elementor-widget-bpb-profile-member-content {
  table tbody > tr:nth-child(odd) > td,
  table tbody > tr:nth-child(odd) > th {
    background: inherit;
  }
  .table th,
  table td {
    border-color: #e2e8f0;
  }
  table caption + thead tr:first-child th,
  table caption + thead tr:first-child td,
  table caption + thead tr:first-child th,
  table caption + thead tr:first-child td,
  table colgroup + thead tr:first-child th,
  table colgroup + thead tr:first-child td,
  table colgroup + thead tr:first-child th,
  table colgroup + thead tr:first-child td,
  table thead:first-child tr:first-child th,
  table thead:first-child tr:first-child td,
  table thead:first-child tr:first-child th,
  table thead:first-child tr:first-child td {
    border: inherit;
  }
  table tbody tr:hover > td,
  table tbody tr:hover > th {
    background: inherit;
  }
  select {
    display: inline-block;
    width: auto;
  }
}

.elementor-widget-bpb-profile-group-content {
  select {
    display: inline-block;
    width: auto;
  }
  #manage-members-search {
    border: none;
    background-color: transparent;
  }
  #manage-members-search-submit {
    &:hover {
      background-color: transparent;
    }
  }
}

#buddypress p.warning,
body.users_page_bp-profile-edit.modal-open #TB_ajaxContent p.warning,
body.profile_page_bp-profile-edit.modal-open #TB_ajaxContent p.warning {
  background-color: #fffff0;
  border: 1px solid #faf089;
  color: #b7791f;
}

.elementor-widget-bpb-profile-group-description {
  .group-description p {
    margin: 0;
  }
}
.elementor-widget-bpb-profile-group-leadership {
  dl, dt, dd, ol, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .group-item-actions .moderators-lists {
    &:first-of-type {
      margin-left: 0;
      // margin-top: 0;
    }
    &:last-of-type {
      margin-right: 0;
      // margin-top: 0;
    }
  }
  #group-admins,
  #group-mods {
    li {
      display: inline-flex;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

#buddypress .elementor-widget-bpb-groups-directory-item-name {
  .groups-title {
    margin: 0;
  }
}
#buddypress .elementor-widget-bpb-members-directory-item-name {
  .list-title {
    margin: 0;
  }
}

.bp-list .elementor-widget-bpb-groups-directory-item-meta .meta,
.bp-list .elementor-widget-bpb-groups-directory-item-meta .item-meta,
.bp-list .elementor-widget-bpb-groups-directory-item-last-activity .meta,
.bp-list .elementor-widget-bpb-groups-directory-item-last-activity .item-meta {
  font-size: inherit;
}

body.buddypress .buddypress-wrap h1,
body.buddypress .buddypress-wrap h2,
body.buddypress .buddypress-wrap h3,
body.buddypress .buddypress-wrap h4,
body.buddypress .buddypress-wrap h5,
body.buddypress .buddypress-wrap h6,
body.buddypress .buddypress-wrap .elementor-heading-title {
  margin: initial;
}

.elementor-widget-bpb-sitewide-item-avatar,
.elementor-widget-bpb-groups-directory-item-avatar,
.elementor-widget-bpb-members-directory-item-avatar {
  .item-avatar {
    line-height: 0;
    > a {
      display: inline-block;
    }
  }
}
.elementor-widget-bpb-profile-group-status {
  .group-status {
    margin-bottom: 0;
  }
}

@font-face {
  font-family: 'sq-icons';
  src: url('../../assets/fonts/sq-icons.eot?20dr4m');
  src: url('../../assets/fonts/sq-icons.eot?20dr4m#iefix') format('embedded-opentype'),
  url('../../assets/fonts/sq-icons.ttf?20dr4m') format('truetype'),
  url('../../assets/fonts/sq-icons.woff?20dr4m') format('woff'),
  url('../../assets/fonts/sq-icons.svg?20dr4m#sq-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.groups-list {
  .item-entry {
    .item-avatar > a {
      display: inline-block;
      line-height: 0;
      position: relative;
      z-index: 0;
    }

    .item-avatar > a:after {
      font-family: 'sq-icons' !important;
      font-size: 1.2em;
      display: inline-block;
      position: absolute;
      z-index: 10;
      text-align: center;
      width: 1.5em;
      height: 1.5em;
      line-height: 1.5em;
      background-color: white;
      color: #737373;
      border-radius: 50%;
      -webkit-box-sizing: content-box;
      box-sizing: content-box;
    }
  }
}

.stax-buddybuilder-template {
  #drag-drop-area {
    border: 2px dashed #cbd5e0;
  }
  .bp-uploader-window {
    margin-top: 20px;
  }
  #avatar-upload-form {
    a.button {
      display: inline-block;
    }
    p {
      margin-top: 20px;
      margin-bottom: 20px;
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  #avatar-upload {
    background: #f7fafc;
    padding: 10px;
    input[type="file"] {
      width: auto;
    }
  }
  fieldset {
    // padding: 0; // Not ok with 0
  }
  #drag-drop-area {
    height: auto;
  }
}

// Elementor specific
.activity .activity-list .elementor-widget:not(:last-child) {
  margin-bottom: 0;
}

// Hello Elementor theme reset
.buddypress-wrap {
  table th, table td {
    border: 1px solid #e2e8f0;
  }
  table tbody > tr:nth-child(odd) > td,
  table tbody > tr:nth-child(odd) > th {
    background-color: #f7fafc;
  }
  table tbody tr:hover > td,
  table tbody tr:hover > th {
    background-color: #edf2f7;
  }
  table caption + thead tr:first-child th,
  table caption + thead tr:first-child td,
  table caption + thead tr:first-child th,
  table caption + thead tr:first-child td,
  table colgroup + thead tr:first-child th,
  table colgroup + thead tr:first-child td,
  table colgroup + thead tr:first-child th,
  table colgroup + thead tr:first-child td,
  table thead:first-child tr:first-child th,
  table thead:first-child tr:first-child td,
  table thead:first-child tr:first-child th,
  table thead:first-child tr:first-child td {
    border-top: 1px solid #e2e8f0;
  }
}

//Twenty20 theme reset
.stax-buddybuilder-template {
  section {
    padding: 0;
  }
  .buddypress-wrap {
    p {
      margin: 0;
      padding: 0;
    }
    .bp-feedback p {
      padding: 10px;
    }
  }
}

// rtMedia compatibility
.stax-buddybuilder-template {
  #buddypress #item-body {
    padding: 0;
  }
}

.elementor-widget-bpb-sitewide-form {
  #whats-new-post-in-box {
    //display: -webkit-box;
    //display: -ms-flexbox;
    //display: flex;
    //-webkit-box-align: center;
    //-ms-flex-align: center;
    //align-items: center;
  }
  #whats-new-post-in-box {
    //float: left;
    //font-size: 13px;

    float: none;
    font-size: inherit;
  }
}

#buddypress {
  .elementor-widget-bpb-sitewide-form {
    form#whats-new-form #whats-new-options select {
      //border: 1px solid #ccc;
      //font-size: 13px;
      //margin-top: 0;
      //padding: 3px 2px;

      // border: inherit;
    }
  }
}

#buddypress form#whats-new-form #whats-new-options select {}





























