@font-face {
    font-family: 'stax-bb-line-v-1-12';
    src:  url('../../../assets/fonts/stax-bb-line-v-1-12.eot?xwnks5');
    src:  url('../../../assets/fonts/stax-bb-line-v-1-12.eot?xwnks5#iefix') format('embedded-opentype'),
    url('../../../assets/fonts/stax-bb-line-v-1-12.ttf?xwnks5') format('truetype'),
    url('../../../assets/fonts/stax-bb-line-v-1-12.woff?xwnks5') format('woff'),
    url('../../../assets/fonts/stax-bb-line-v-1-12.svg?xwnks5#stax-bb-line-v-1-1') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="bbl-"], [class*=" bbl-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'stax-bb-line-v-1-12' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.bbl-groups-private:before {
    content: "\e929";
}
.bbl-group-members:before {
    content: "\e928";
}
.bbl-feedback-notice:before {
    content: "\e927";
}
.bbl-members-content:before {
    content: "\e925";
}
.bbl-members-meta:before {
    content: "\e926";
}
.bbl-account-details:before {
    content: "\e900";
}
.bbl-activity-buttons:before {
    content: "\e901";
}
.bbl-activity-comments:before {
    content: "\e902";
}
.bbl-activity-content:before {
    content: "\e903";
}
.bbl-activity-filter:before {
    content: "\e904";
}
.bbl-activity-header:before {
    content: "\e905";
}
.bbl-activity-list:before {
    content: "\e906";
}
.bbl-activity-navigation:before {
    content: "\e907";
}
.bbl-form:before {
    content: "\e908";
}
.bbl-groups-action-buttons:before {
    content: "\e909";
}
.bbl-groups-avatar:before {
    content: "\e90a";
}
.bbl-groups-content:before {
    content: "\e90b";
}
.bbl-groups-description:before {
    content: "\e90c";
}
.bbl-groups-filter:before {
    content: "\e90d";
}
.bbl-groups-last-activity:before {
    content: "\e90e";
}
.bbl-groups-leadership:before {
    content: "\e90f";
}
.bbl-groups-list:before {
    content: "\e910";
}
.bbl-groups-meta:before {
    content: "\e911";
}
.bbl-groups-name:before {
    content: "\e912";
}
.bbl-groups-navigation:before {
    content: "\e913";
}
.bbl-groups-profile-cover:before {
    content: "\e914";
}
.bbl-groups-status:before {
    content: "\e915";
}
.bbl-members_messages:before {
    content: "\e916";
}
.bbl-members-action-buttons:before {
    content: "\e917";
}
.bbl-members-avatar:before {
    content: "\e918";
}
.bbl-members-filter:before {
    content: "\e919";
}
.bbl-members-last-activity:before {
    content: "\e91a";
}
.bbl-members-last-online:before {
    content: "\e91b";
}
.bbl-members-list:before {
    content: "\e91c";
}
.bbl-members-name:before {
    content: "\e91d";
}
.bbl-members-navigation:before {
    content: "\e91e";
}
.bbl-members-profile-cover:before {
    content: "\e91f";
}
.bbl-members-xprofile-fields:before {
    content: "\e920";
}
.bbl-notifications:before {
    content: "\e921";
}
.bbl-profile-details:before {
    content: "\e922";
}
.bbl-site-details:before {
    content: "\e923";
}
.bbl-submit-button:before {
    content: "\e924";
}
