.elementor-editor-active .activity-inner p:last-child {
  margin-bottom: 0; }

.elementor-editor-active [data-bp-tooltip]:before,
.elementor-editor-active [data-bp-tooltip]:after {
  display: none; }

.buddypress-wrap .standard-form select {
  border: 1px solid #dedfe2;
  font-weight: 500;
  padding: 0.7em 2em 0.7em 0.7em;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, #cbd5e0 50%), linear-gradient(135deg, #cbd5e0 50%, transparent 50%);
  background-position: calc(100% - 20px) 50%, calc(100% - (20px - 5px)) 50%;
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat; }

